.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	background-color: none;
	z-index: 100;
	width: 100%;
}
.header__icon {
	object-fit: contain;
	height: 100px;
	width: 300px;
	margin-left: 20px;
}

.header__right {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 35vw;
	margin-right: 80px;
}
.saira {
	font-family: Saira;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.05em;

	color: #ffffff;
}
