.Footer {
	display: flex;
	position: relative;
	background: #24243c;
	justify-content: space-around;
}
h4 {
	font-family: Saira;
	font-size: 18px;
	font-weight: 400;
	color: white;
}

.Contacto {
	margin-top: 2%;
}
.Contacto img {
	width: 40%;
	margin-left: -10%;
	margin-bottom: 3%;
}
.Contacto p {
	font-family: Saira;
	font-size: 18px;
	font-weight: 400;
	color: white;
	margin-top: 5%;
}



.Suscripcion .fab {
	font-size: 50px;
	color: white;
	margin-right: 10%;
}
