.item {
    display: flex;
    align-items: center;
    align-self: center;
  }
  
  .item .botonesGestion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .item Button {
    margin: 10%;
    font-family: Saira;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    color: #ffffff;
  }
  
  .item .modificar {
    background: #24243c;
  }
  
  .item .eliminar {
    background: #fd275f;
  }
  
  .modalDel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background: #ffffff;
    border-radius: 50px;
    width: 50%;
    transform: translate(50%, 0%);
  }
  
  .modalDel .titulo {
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  
    background: #24243c;
    border-radius: 50px 50px 0px 0px;
  }
  
  .modalDel img {
    width: 13em;
  }
  
  .modalDel h2 {
    font-family: Saira;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    width: 50%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
  
  .modalDel Button {
    margin: 10%;
    font-family: Saira;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    color: #ffffff;
    width: 100%;
  }
  
  .modalDel .modalbot {
    display: flex;
    flex-direction: column;
  }
  
  .modalDel .modificar {
    background: #24243c;
  }
  
  .modalDel .eliminar {
    background: #fd275f;
  }
  