.marcador i{
    font-size: 20px;
    color: white;
}
.marcador i:hover{
    font-size: 20px;
    color: red;
}

.marcador i:hover::after{
    content: "";
    color:black;
    width: 400px;
    position: relative;
    top:0;
}
.marcador button{
    background: none;
    border: none;
}

.marcador button:focus{
    border: none;
    border-radius: none;
    outline: none; 
    box-shadow: none; 
}

.Mapa{
    height: 100vh;
    width: 100%;
}

