input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

textarea{
    resize:none;
}

.RegistrarVivienda{
    border: 2px solid #24243c;
    border-radius: 50px;

}

.RegistrarVivienda .titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: #24243c;
    padding: 1.5%;
    border-radius: 50px 50px 0px 0px;
}



.RegistrarVivienda .formu{
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.RegistrarVivienda .formu div{
    display: flex;
    flex-direction: column;
}

.RegistrarVivienda .mapa{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 40em;
}

.RegistrarVivienda .botones{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}

.RegistrarVivienda .botones .RegistrarVi{
    background-color: #24243c;
    color: white;
    font-family: Saira;
    font-size: 20px;
    font-weight: 600;
}
.RegistrarVivienda .botonesM{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.RegistrarVivienda .botonesM a{
    width: 40%;
    background-color:  #fd275f;
    color: white;
    font-family: Saira;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}


.RegistrarVivienda .botonesM .cancelarM{
    width: 100%;
    background-color:  #fd275f;
    color: white;
    font-family: Saira;
    font-size: 20px;
    font-weight: 600;
}

.RegistrarVivienda .botonesM .cancelarM:hover{
    color:  #fd275f;
    background-color: white;
    border: 1px solid #fd275f;
}

.RegistrarVivienda .botonesM .actualizarM{
    width: 40%;
    background-color: #24243c;
    color: white;
    font-family: Saira;
    font-size: 20px;
    font-weight: 600;
}

.RegistrarVivienda .botonesM .actualizarM:hover{

    color: #24243c;
    background-color: white;
    border: 1px solid #24243c;

}
