.Reservar {
  background: #ffffff;
  border: 0.4px solid #000000;
  border-radius: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 23em;
  padding: 3%;
  margin-top: 5%;
}
.Reservar Button {
  background: #fd275f;
  border-radius: 15px;
  font-family: Saira;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  width: 90%;

  /* identical to box height */
  letter-spacing: 0.05em;

  /* Principal - FFFFFF */
  color: #ffffff;
}
.Reservar Button:hover {
    background: white;
    color: #fd275f;
}

.Reservar h3 {
  font-family: Saira;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  padding-top: 1%;
  
  /* identical to box height */
  
  color: #000000;
}

.reserva{
  display: flex;
  flex-direction: column;
  background-color: white;
  color: white;
  width: 40%;
  transform: translate(80%,20%);
  border-radius: 50px;
  height: 20em;
}

.reserva h3{
  padding:2%;
  text-align: center;
  background-color: #24243c;
  border-radius: 50px 50px 0px 0px;
}

.reserva .formu{
  display: flex;
  margin: -1%;
  width: 80%;
  align-content: center;
  justify-content: center;
  align-self: center;
  
}

.reserva .formu form{
  width: 100%;
}

.reserva label{
  color: gray;
}

.reserva Button{
  margin-top: 3%;
  background: #fd275f;
  color: white;
  font-size: 18px;
  font-family: Saira;
  font-weight: 600;

}

.reserva button:hover{
  background: white;
  color: #fd275f;
  border: 1px solid #fd275f;
}
